# Video / output / input
*.avi
git*.pkl
output_videos/
runs/
training/
# Dataset
data/
datasets/

# Model weights
*.pth
*.onnx

# Python cache
__pycache__/
*.pyc
.venv/
# Virtual environment
venv/
.env/
.env
# OS files
.DS_Store
Thumbs.db

# User specified ignores
__pycache__/
inputvideo/
output_video/
models/
test/
.antigravityignore
outputs/
