# Video / output / input
*.avi
*.mp4
output_videos/
runs/
input_videos/
models/
training/
# Dataset
data/
datasets/

# Model weights
best_yolov5su.pt
best_yolo26s.pt
*.pth
*.onnx

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db